<div class="panel-header panel-header-sm">
 
  </div>
  <div class="main-content">
    <div class="row">
      <div class="col-md-12">
        <div class="card ">
          <div class="card-header ">
            <nav>
              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Liste</a>
                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Ajouter une formation</a>
                
              </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
              <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                  <div class="col-md-12">
                      <div class="card">
                        <div class="card-header">
                         
                          <h4 class="card-title"> Liste des formations</h4>
                        </div>
                        <div class="card-body">
                          <div class="table-responsive">
                            <table class="table">
                              <thead class=" text-primary">
                                <th>
                                  Name
                                </th>
                                <th>
                                  Nom
                                </th>
                                <th>
                                  Type
                                </th>
                                <th class="text-right">
                                  
                                </th>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>
                                    ...
                                  </td>
                                  <td>
                                    ...
                                  </td>
                                  <td>
                                    ....
                                  </td>
                                  <td class="text-right">
                                      <button type="button" rel="tooltip" title="" class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Edit Task">
                                          <i class="now-ui-icons ui-2_settings-90"></i>
                                        </button>
                                        <button type="button" rel="tooltip" title="" class="btn btn-danger btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Remove">
                                          <i class="now-ui-icons ui-1_simple-remove"></i>
                                        </button>
                                  </td>
                                </tr>
                                <tr>
                                  <td>
                                   ...
                                  </td>
                                  <td>
                                   ...
                                  </td>
                                  <td>
                                    ...
                                  </td>
                                  <td class="text-right">
                                      <button type="button" rel="tooltip" title="" class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Edit Task">
                                          <i class="now-ui-icons ui-2_settings-90"></i>
                                        </button>
                                        <button type="button" rel="tooltip" title="" class="btn btn-danger btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Remove">
                                          <i class="now-ui-icons ui-1_simple-remove"></i>
                                        </button>
                                  </td>
                                </tr>
                                <tr>
                                  <td>
                                    ...
                                  </td>
                                  <td>
                                    ...
                                  </td>
                                  <td>
                                    ...
                                  </td>
                                  <td class="text-right">
                                      <button type="button" rel="tooltip" title="" class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Edit Task">
                                          <i class="now-ui-icons ui-2_settings-90"></i>
                                        </button>
                                        <button type="button" rel="tooltip" title="" class="btn btn-danger btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Remove">
                                          <i class="now-ui-icons ui-1_simple-remove"></i>
                                        </button>
                                  </td>
                                </tr>
                                <tr>
                                  <td>
                                    ....
                                  </td>
                                  <td>
                                    ...
                                  </td>
                                  <td>
                                    ....
                                  </td>
                                  <td class="text-right">
                                      <button type="button" rel="tooltip" title="" class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Edit Task">
                                          <i class="now-ui-icons ui-2_settings-90"></i>
                                        </button>
                                        <button type="button" rel="tooltip" title="" class="btn btn-danger btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Remove">
                                          <i class="now-ui-icons ui-1_simple-remove"></i>
                                        </button>
                                  </td>
                                </tr>
                                <tr>
                                  <td>
                                      ....
                                  </td>
                                  <td>
                                   ....
                                  </td>
                                  <td>
                                    ...
                                  </td>
                                  <td class="text-right">
                                      <button type="button" rel="tooltip" title="" class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Edit Task">
                                          <i class="now-ui-icons ui-2_settings-90"></i>
                                        </button>
                                        <button type="button" rel="tooltip" title="" class="btn btn-danger btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Remove">
                                          <i class="now-ui-icons ui-1_simple-remove"></i>
                                        </button>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
  
  
                
              </div>
              <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                  <div class="col-md-12">
                      <div class="card">
                        <div class="card-header">
                          <h5 class="title">Ajouter une formation</h5>
                        </div>
                        <div class="card-body">
                          <form>
                            <div class="row">
                              <div class="col-md-5 pr-1">
                                <div class="form-group">
                                  <label>Company (disabled)</label>
                                  <input type="text" class="form-control" disabled="" placeholder="Company" value="Creative Code Inc.">
                                </div>
                              </div>
                              <div class="col-md-3 px-1">
                                <div class="form-group">
                                  <label>Username</label>
                                  <input type="text" class="form-control" placeholder="Username" value="michael23">
                                </div>
                              </div>
                              <div class="col-md-4 pl-1">
                                <div class="form-group">
                                  <label for="email">Email address</label>
                                  <input name="email" id="email" type="email" class="form-control" placeholder="Email">
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-6 pr-1">
                                <div class="form-group">
                                  <label>First Name</label>
                                  <input type="text" class="form-control" placeholder="Company" value="Mike">
                                </div>
                              </div>
                              <div class="col-md-6 pl-1">
                                <div class="form-group">
                                  <label>Last Name</label>
                                  <input type="text" class="form-control" placeholder="Last Name" value="Andrew">
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-12">
                                <div class="form-group">
                                  <label>Address</label>
                                  <input type="text" class="form-control" placeholder="Home Address" value="Bld Mihail Kogalniceanu, nr. 8 Bl 1, Sc 1, Ap 09">
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-4 pr-1">
                                <div class="form-group">
                                  <label>City</label>
                                  <input type="text" class="form-control" placeholder="City" value="Mike">
                                </div>
                              </div>
                              <div class="col-md-4 px-1">
                                <div class="form-group">
                                  <label>Country</label>
                                  <input type="text" class="form-control" placeholder="Country" value="Andrew">
                                </div>
                              </div>
                              <div class="col-md-4 pl-1">
                                <div class="form-group">
                                  <label>Postal Code</label>
                                  <input type="number" class="form-control" placeholder="ZIP Code">
                                </div>
                              </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                </div>
  
                                <div class="col-md-3">
                                  </div>
                                <div class="col-md-3">
                                  </div>  
                              <div class="col-md-3">
                                  <button type="button" class="btn btn-info ">Info</button>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
              </div>
              
            </div>
          </div>
         
        </div>
      </div>
    </div>
  </div>
  