<div class="panel-header panel-header-sm">

</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card ">
        <div class="card-header ">
          <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
                aria-controls="nav-home" aria-selected="true" (click)=inSubmit()>Liste</a>
              <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
                aria-controls="nav-profile" aria-selected="false">Ajouter un Condidat</a>

            </div>
          </nav>
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-header">


                  </div>
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table table-striped">
                        <thead class=" text-primary">
                          <th scope="col">
                            Nom
                          </th>
                          <th scope="col">
                            Prénom
                          </th>
                          <th scope="col">
                            Email
                          </th>
                          <th scope="col">
                            NumTel
                          </th>
                          <th scope="col">
                            Adresse
                          </th>
                          <th scope="col">
                            cv
                          </th>
                          <th scope="col">
                            payée
                          </th>
                          <th scope="col">
                            Formation
                          </th>
                          <th scope="col" class="text-right">

                          </th>
                        </thead>
                        <tbody>
                          <tr *ngFor="let condidat of condidats">

                            <td>{{condidat.firstName}}</td>
                            <td>{{condidat.lastName}}</td>
                            <td>{{condidat.email}}</td>
                            <td>{{condidat.numTel}}</td>
                            <td>{{condidat.adresse}}</td>
                            <td>{{condidat.cv}}</td>
                            <td>{{condidat.payer}}</td>
                            <td>{{condidat.formation.name}}</td>
                            <td>
                              <button type="button" rel="tooltip" style="color:LightGreen;  " title=""
                                class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral"
                                data-original-title="Edit Task" (click)="Edit(condidat.id)" data-toggle="modal"
                                data-target="#exampleModal" data-whatever="@mdo">
                                <i class="now-ui-icons ui-2_settings-90"></i>
                              </button>
                              <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="exampleModalLabel">Modification</h5>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                    <div class="modal-body">
                                      <form [formGroup]="messageFormmodif">
                                        <div class="row">
                                          <div class="col-md-6 px-1">

                                            <div class="form-group">
                                              <label for="recipient-name" class="col-form-label">Nom</label>
                                              <input type="text" value="{{genre?.firstName}}"
                                                formControlName="firstName" class="form-control" id="recipient-name">
                                            </div>
                                          </div>

                                          <div class="col-md-6 px-1">
                                            <div class="form-group">
                                              <label for="recipient-name" class="col-form-label"> Prénom</label>
                                              <input type="text" value="{{genre?.lastName}}" formControlName="lastName"
                                                class="form-control" id="recipient-name">
                                            </div>
                                          </div>
                                        </div>
                                        <div class="row">
                                          <div class="col-md-6 px-1">
                                            <div class="form-group">
                                              <label for="recipient-name" class="col-form-label">Email</label>
                                              <input type="text" value="{{genre?.email}}" formControlName="email"
                                                class="form-control" id="recipient-name">
                                            </div>
                                          </div>
                                          <div class="col-md-6 px-1">
                                            <div class="form-group">
                                              <label for="recipient-name" class="col-form-label">Payée</label>
                                              <select id="inputState" formControlName="payer" class="form-control">

                                                <option>true</option>
                                                <option>false</option>
                                              </select>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="row">
                                          <div class="col-md-6 px-1">
                                            <div class="form-group">
                                              <label for="recipient-name" class="col-form-label">Adresse</label>
                                              <input type="text" value="{{genre?.adresse}}" formControlName="adresse"
                                                class="form-control" id="recipient-name">
                                            </div>
                                          </div>
                                          <div class="col-md-6 px-1">
                                            <div class="form-group">
                                              <label for="recipient-name" class="col-form-label">CV</label>
                                              <input type="text" value="{{genre?.cv}}" formControlName="cv"
                                                class="form-control" id="recipient-name">
                                            </div>
                                          </div>
                                        </div>
                                        <div class="row">
                                          <div class="col-md-6 px-1">
                                            <div class="form-group">
                                              <label for="recipient-name" class="col-form-label">NumTel</label>
                                              <input type="text" value="{{genre?.numTel}}" formControlName="numTel"
                                                class="form-control" id="recipient-name">
                                            </div>
                                          </div>
                                          <div class="col-md-6 px-1">
                                            <label>Nom de la formation</label>
                                            <select id="inputState" value="{{genre?.formation.name}}"
                                              formControlName="formation" class="form-control">
                                              <option selected>Choose...</option>
                                              <option *ngFor="let formation of formations">{{formation.name}}</option>
                                            </select>
                                          </div>
                                        </div>
                                      </form>
                                    </div>
                                    <div class="modal-footer">

                                      <button type="button" data-dismiss="modal" (click)="confirme(condidat.id)"
                                        class="btn btn-primary">Confirmer</button>
                                    </div>
                                  </div>
                                </div>
                              </div>






                              <button type="button" rel="tooltip" title=""
                                class="btn btn-danger btn-round btn-icon btn-icon-mini btn-neutral"
                                data-original-title="Remove" (click)="Delete(condidat)">
                                <i class="now-ui-icons ui-1_simple-remove"></i>
                              </button>
                            </td>
                          </tr>

                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>



            </div>
            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-header">
                    <h5 class="title">Ajouter un Condidat</h5>
                  </div>
                  <div class="card-body">

                    <form [formGroup]="messageForm" (ngSubmit)="onSubmit()">

                      <div class="row">
                        <div class="col-md-6 px-1">
                          <div class="form-group">

                            <input type="text" class="form-control" placeholder="Nom" formControlName="firstName"
                              value="michael23">

                          </div>
                        </div>
                        <div class="col-md-6 px-1">
                          <div class="form-group">

                            <input type="text" class="form-control" placeholder="Prénom" formControlName="lastName"
                              value="michael23">

                          </div>
                        </div>


                      </div>
                      <div class="row">
                        <div class="col-md-6 px-1">
                          <div class="form-group">

                            <input type="email" class="form-control" placeholder="Email" formControlName="email"
                              value="michael23">
                          </div>
                        </div>
                        <div class="col-md-6 px-1">
                          <div class="form-group">

                            <input type="text" class="form-control" placeholder="Adresse" formControlName="adresse"
                              value="michael23">


                          </div>
                        </div>



                      </div>



                      <div class="row">
                        <div class="col-md-6 px-1">
                          <div class="form-group">

                            <input type="number" class="form-control" placeholder="NumTel" formControlName="numTel"
                              value="michael23">
                          </div>
                        </div>
                        <div class="col-md-6 px-1">
                          <div class="form-group">

                            <select id="inputState" value=" payée" formControlName="payer" class="form-control">

                              <option>true</option>
                              <option>false</option>
                            </select>

                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <input type="text" class="form-control" formControlName="cv">

                      </div>
                      <div class="row">
                        <div class="col-md-4 px-1">
                          <div class="form-group">
                            <label for="inputState">Formation</label>
                            <select id="inputState" formControlName="formation" class="form-control">
                              <option selected>Choose...</option>
                              <option [value]="formation.id" *ngFor="let formation of formations">{{formation.name}}
                              </option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-3 px-1"></div>
                        <div class="col-md-3 px-1"></div>
                        <div class="col-md-3 px-1"></div>
                        <div class="col-md-3 px-1">
                          <button type="submit" vclass="cta" class="btn btn-warning">Confirmer</button>
                        </div>
                      </div>




                    </form>



                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>