<div class="panel-header panel-header-sm">

</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card ">
        <div class="card-header ">
          <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
                aria-controls="nav-home" aria-selected="true" (click)=inSubmit()>Liste</a>
              <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
                aria-controls="nav-profile" aria-selected="false">Ajouter une formation</a>

            </div>
          </nav>
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-header">


                  </div>
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table table-striped">
                        <thead class=" text-primary">
                          <th scope="col">
                            Nom
                          </th>
                          <th scope="col">
                            File_Formation
                          </th>
                          <th scope="col">
                            Type
                          </th>
                          <th scope="col" class="text-right">

                          </th>
                        </thead>
                        <tbody>
                          <tr *ngFor="let formation of formations">


                            <td>{{formation.name}}</td>
                            <td>{{formation.fileFormation}}</td>
                            <td>{{formation.type}}</td>
                            <td class="text-right">
                              <button type="button" rel="tooltip" style="color:LightGreen;  " title=""
                                class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral"
                                data-original-title="Edit Task" (click)="Edit(formation.id)" data-toggle="modal"
                                data-target="#exampleModal" data-whatever="@mdo">
                                <i class="now-ui-icons ui-2_settings-90"></i>
                              </button>







                              <button type="button" rel="tooltip" title=""
                                class="btn btn-danger btn-round btn-icon btn-icon-mini btn-neutral"
                                data-original-title="Remove" (click)="Delete(formation)">
                                <i class="now-ui-icons ui-1_simple-remove"></i>
                              </button>
                            </td>
                          </tr>
                          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                  <form [formGroup]="messageForm">

                                    <div class="form-group">
                                      <label for="recipient-name" class="col-form-label">Name</label>
                                      <input type="text" value="{{genre?.name}}" formControlName="name"
                                        class="form-control" id="recipient-name">
                                    </div>
                                    <div class="form-group">
                                        <label for="recipient-name" class="col-form-label">fileFormation</label>
                                        <input type="text" value="{{genre?.fileFormation}}" formControlName="fileFormation"
                                          class="form-control" id="recipient-name">
                                    </div>
                                    <div class="form-group">
                                      <label for="recipient-name" class="col-form-label">Type</label>
                                      <input type="text" value="{{genre?.type}}" formControlName="type"
                                        class="form-control" id="recipient-name">
                                    </div>
                                  </form>
                                </div>
                                <div class="modal-footer">

                                  <button type="button" data-dismiss="modal" (click)="Actualise(formation.id)"
                                    class="btn btn-primary">modifier</button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>



            </div>
            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-header">
                    <h5 class="title">Ajouter une formation</h5>
                  </div>
                  <div class="card-body">

                    <form [formGroup]="messageFormmodif" (ngSubmit)="onSubmit()">

                      <div class="row">
                        <div class="col-md-2 px-1">

                        </div>
                        <div class="col-md-8 px-1">
                          <div class="form-group">

                            <input type="text" class="form-control" placeholder="Name" formControlName="type"
                              value="michael23">


                          </div>
                        </div>
                        <div class="col-md-2 px-1"></div>
                      </div>
                      <div class="row">
                        <div class="col-md-2 px-1"></div>
                        <div class="col-md-8 px-1">
                          <div class="form-group">
                            <input type="text" class="form-control" placeholder="File_Formation" formControlName="name"
                              value="michael23">
                          </div>
                        </div>
                        <div class="col-md-2 px-1"></div>
                      </div>
                      <div class="row">
                        <div class="col-md-2 px-1"></div>
                        <div class="col-md-8 px-1">
                          <div class="form-group">
                            <input type="text" class="form-control" placeholder="Type" formControlName="fileFormation"
                              value="michael23">
                          </div>
                        </div>
                        <div class="col-md-2 px-1"></div>
                      </div>
                      <div class="row">
                        <div class="col-md-3 px-1"></div>
                        <div class="col-md-3 px-1"></div>
                        <div class="col-md-3 px-1"></div>
                        <div class="col-md-3 px-1">
                          <button type="submit" vclass="cta" class="btn btn-warning">Confirmer</button>
                        </div>
                      </div>

                    </form>



                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>