<div class="panel-header panel-header-sm">

</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card ">
        <div class="card-header ">
          <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
                aria-controls="nav-home" aria-selected="true" (click)=inSubmit()>Liste</a>
              <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
                aria-controls="nav-profile" aria-selected="false">Ajouter un employé</a>

            </div>
          </nav>
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-header">


                  </div>
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table table-striped">
                        <thead class=" text-primary">
                          <th scope="col">
                            Nom
                          </th>
                          <th scope="col">
                            Prénom
                          </th>
                          <th scope="col">
                            Email
                          </th>
                          <th scope="col">
                            NumTel
                          </th>
                          <th scope="col">
                            Adresse
                          </th>
                          <th scope="col">
                            Recrutement
                          </th>
                          <th scope="col">
                            Rôle
                          </th>
                          <th scope="col">
                            Salaire
                          </th>

                          <th scope="col">
                            Photo
                          </th>
                          <th scope="col" class="text-right">

                          </th>
                        </thead>
                        <tbody>
                          <tr *ngFor="let personnel of personnels">

                            <td>{{personnel.firstName}}</td>
                            <td>{{personnel.lastName}}</td>
                            <td>{{personnel.email}}</td>
                            <td>{{personnel.numTel}}</td>
                            <td>{{personnel.adresse}}</td>
                            <td>{{personnel.dateRec}}</td>
                            <td>{{personnel.role}}</td>
                            <td>{{personnel.salaire}}</td>


                            <td><img src="http://localhost:9008/employe/downloadFile/{{personnel.id}}"></td>
                            <td>
                              <button type="button" rel="tooltip" style="color:LightGreen;  " title=""
                                class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral"
                                data-original-title="Edit Task" (click)="Edit(personnel.id)" data-toggle="modal"
                                data-target="#exampleModal" data-whatever="@mdo">
                                <i class="now-ui-icons ui-2_settings-90"></i>
                              </button>
                              <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="exampleModalLabel">Modification</h5>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                    <div class="modal-body">
                                      <form [formGroup]="messageFormmodif">
                                        <div class="row">
                                          <div class="col-md-6 px-1">
                                            <div class="form-group">
                                              <label for="recipient-name" class="col-form-label">Nom</label>
                                              <input type="text" value="{{genre?.firstName}}"
                                                formControlName="firstName" class="form-control" id="recipient-name">
                                            </div>
                                          </div>
                                          <div class="col-md-6 px-1">
                                            <div class="form-group">
                                              <label for="recipient-name" class="col-form-label">Prénom</label>
                                              <input type="text" value="{{genre?.lastName}}" formControlName="lastName"
                                                class="form-control" id="recipient-name">
                                            </div>
                                          </div>
                                        </div>
                                        <div class="row">
                                          <div class="col-md-6 px-1">
                                            <div class="form-group">
                                              <label for="recipient-name" class="col-form-label">Email</label>
                                              <input type="text" value="{{genre?.email}}" formControlName="email"
                                                class="form-control" id="recipient-name">
                                            </div>
                                          </div>
                                          <div class="col-md-6 px-1">
                                            <div class="form-group">
                                              <label for="recipient-name" class="col-form-label">NumTel</label>
                                              <input type="text" value="{{genre?.numTel}}" formControlName="numTel"
                                                class="form-control" id="recipient-name">
                                            </div>
                                          </div>
                                        </div>
                                        <div class="row">
                                          <div class="col-md-6 px-1">
                                            <div class="form-group">
                                              <label for="recipient-name" class="col-form-label">Recrutement</label>
                                              <input type="date" value="{{genre?.dateRec}}" formControlName="dateRec"
                                                class="form-control" id="recipient-name">
                                            </div>
                                          </div>
                                          <div class="col-md-6 px-1">
                                            <div class="form-group">
                                              <label for="recipient-name" class="col-form-label">Adresse</label>
                                              <input type="text" value="{{genre?.adresse}}" formControlName="adresse"
                                                class="form-control" id="recipient-name">
                                            </div>
                                          </div>
                                        </div>
                                        <div class="row">
                                          <div class="col-md-6 px-1">
                                            <div class="form-group">
                                              <label for="recipient-name" class="col-form-label">Salaire</label>
                                              <input type="text" value="{{genre?.salaire}}" formControlName="salaire"
                                                class="form-control" id="recipient-name">
                                            </div>
                                          </div>
                                          <div class="col-md-6 px-1">
                                            <div class="form-group">
                                              <label for="recipient-name" class="col-form-label">Rôle</label>
                                              <input type="text" value="{{genre?.role}}" formControlName="role"
                                                class="form-control" id="recipient-name">
                                            </div>
                                          </div>
                                        </div>

                                      </form>
                                    </div>
                                    <div class="modal-footer">

                                      <button type="button" data-dismiss="modal" (click)="confirme(personnel.id)"
                                        class="btn btn-primary">Confirmer</button>
                                    </div>
                                  </div>
                                </div>
                              </div>






                              <button type="button" rel="tooltip" title=""
                                class="btn btn-danger btn-round btn-icon btn-icon-mini btn-neutral"
                                data-original-title="Remove" (click)="Delete(personnel)">
                                <i class="now-ui-icons ui-1_simple-remove"></i>
                              </button>
                            </td>
                          </tr>

                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>



            </div>
            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-header">
                    <h5 class="title">Ajouter un employé</h5>
                  </div>
                  <div class="card-body">

                    <form [formGroup]="messageForm">

                      <div class="row">
                        <div class="col-md-6 px-1">
                          <div class="form-group">

                            <input type="text" class="form-control" placeholder="Nom" formControlName="firstName"
                              value="michael23">

                          </div>
                        </div>
                        <div class="col-md-6 px-1">
                          <div class="form-group">

                            <input type="text" class="form-control" placeholder="Prénom" formControlName="lastName"
                              value="michael23">

                          </div>
                        </div>


                      </div>
                      <div class="row">
                        <div class="col-md-6 px-1">
                          <div class="form-group">

                            <input type="text" class="form-control" placeholder="Email" formControlName="email">
                          </div>
                        </div>
                        <div class="col-md-6 px-1">
                          <div class="form-group">

                            <input type="text" class="form-control" placeholder="Adresse" formControlName="adresse"
                              value="michael23">


                          </div>
                        </div>


                      </div>



                      <div class="row">
                        <div class="col-md-6 px-1">
                          <div class="form-group">

                            <input type="text" class="form-control" placeholder="NumTel" formControlName="numTel"
                              value="michael23">
                          </div>
                        </div>
                        <div class="col-md-6 px-1">
                          <div class="form-group">

                            <select id="inputState" placeholder=" Rôle" formControlName="role" class="form-control">
                              <option selected>Choose...</option>
                              <option>Coach</option>
                              <option>Développeur</option>
                            </select>


                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6 px-1">
                          <div class="form-group">

                            <input type="date" class="form-control" placeholder="dateRec" formControlName="dateRec"
                              value="michael23">
                          </div>
                        </div>
                        <div class="col-md-6 px-1">
                          <div class="form-group">

                            <input type="text" class="form-control" placeholder="salaire" formControlName="salaire"
                              value="michael23">
                          </div>
                        </div>
                      </div>
                    </form>
                    <div class="row">

                      <div class="col-md-6 px-1">
                        <input (change)="fileChangeEvent($event)" accept=".png, .jpg, jpeg" type="file"
                          class="form-control">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-3 px-1"></div>
                      <div class="col-md-3 px-1"></div>
                      <div class="col-md-3 px-1"></div>
                      <div class="col-md-3 px-1">
                        <button (click)="onSubmit()" vclass="cta" class="btn btn-warning">Confirmer</button>
                      </div>
                    </div>







                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>