<div class="panel-header panel-header-sm">
 
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card ">
        <div class="card-header ">
          <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Liste</a>
              <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Ajouter un employé</a>
              
            </div>
          </nav>
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                <div class="col-md-12">
                    <div class="card">
                      <div class="card-header">
                       
                        <h4 class="card-title">Liste des employés </h4>
                      </div>
                      <div class="card-body">
                        <div class="table-responsive">
                          <table class="table">
                            <thead class=" text-primary">
                              <th>
                                FirstName
                              </th>
                              <th>
                                LastName
                              </th>
                              <th>
                                Email
                              </th>
                              <th>
                                address
                              </th>
                              <th>
                                PhoneNumber
                              </th>
                              <th>
                                Rôle
                              </th>
                              <th class="text-right">
                                
                              </th>
                            </thead>
                            <tbody>
                              <tr *ngFor="let users of user">
                                <td>{{user.username}}</td>
                                <td>{{user.pass}}</td>
                                <td>{{user.email}}</td>
                                <td>{{user.email}}</td>
                                <td>{{user.email}}</td>
                                <td>{{user.email}}</td>
    
    
                                <td class="text-right">
                                  <button type="button" rel="tooltip" title=""
                                    class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral"
                                    data-original-title="Edit Task">
                                    <i class="now-ui-icons ui-2_settings-90"></i>
                                  </button>
                                  <button type="button" rel="tooltip" title=""
                                    class="btn btn-danger btn-round btn-icon btn-icon-mini btn-neutral"
                                    data-original-title="Remove">
                                    <i class="now-ui-icons ui-1_simple-remove"></i>
                                  </button>
                                </td>
                              </tr>
    
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>


              
            </div>
            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                <div class="col-md-12">
                    <div class="card">
                      <div class="card-header">
                        <h5 class="title">Ajouter un employé</h5>
                      </div>
                      <div class="card-body">
                        <form>
                          
                          <div class="row">
                            <div class="col-md-6 pr-1">
                              <div class="form-group">
                                <label>First Name</label>
                                <input type="text" class="form-control" placeholder="Company" value="Mike">
                              </div>
                            </div>
                            <div class="col-md-6 pl-1">
                              <div class="form-group">
                                <label>Last Name</label>
                                <input type="text" class="form-control" placeholder="Last Name" value="Andrew">
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            
                            <div class="col-md-6 pl-1">
                              <div class="form-group">
                                <label for="email">Email </label>
                                <input name="email" id="email" type="email" class="form-control" placeholder="Email">
                              </div>
                            </div>
                          
                          
                            <div class="col-md-6 pl-1">
                              <div class="form-group">
                                <label>Address</label>
                                <input type="text" class="form-control" placeholder="Home Address" value="Bld Mihail Kogalniceanu, nr. 8 Bl 1, Sc 1, Ap 09">
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            
                            <div class="col-md-6 pl-1">
                                <div class="form-group">
                                    <label>PhoneNumber</label>
                                    <input type="number" class="form-control" placeholder="ZIP Code">
                                  </div>      
                            </div>
                            <div class="col-md-6 pl-1">
                                <div class="form-group">
                                    <label>Role</label>
                                    <input type="text" class="form-control" placeholder="Country" value="Andrew">
                                  </div>
                            </div>
                          </div>
                          <div class="row">
                              <div class="col-md-3">
                                </div>
  
                                <div class="col-md-3">
                                  </div>
                                <div class="col-md-3">
                                  </div>  
                            <div class="col-md-3">
                                <button type="button" class="btn btn-info ">Add</button>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
            </div>
            
          </div>
        </div>
       
      </div>
    </div>
  </div>
</div>
